<a href="https://colab.research.google.com/github/Mansisarda1999/JOB-A-THON--June-2021-Market-Feature-Table/blob/main/Job_a_thon_ipynb16.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!wget --header="Host: doc-08-80-docs.googleusercontent.com" --header="User-Agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36" --header="Accept: text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.9" --header="Accept-Language: en-US,en-IN;q=0.9,en;q=0.8" --header="Referer: https://drive.google.com/" --header="Cookie: AUTH_a0mf4r5kv82902a8lh9feu05lpgje6p2_nonce=hnnq9qm4fim7g" --header="Connection: keep-alive" "https://doc-08-80-docs.googleusercontent.com/docs/securesc/74hnkitv3d0pvdf31p60q1hrvp0rk5ge/7h6kk9h1k3lcdk06hoijuavrqmggtblc/1625375325000/01461370006936346968/02763092316838431110/1DLLSvSOYhGM16leUho-YsGipzHkTS1BS?e=download&authuser=0&nonce=hnnq9qm4fim7g&user=02763092316838431110&hash=b1radurf7lpi38cjbueo8ck3prdh00mj" -c -O 'data.zip'

--2021-07-04 05:10:06--  https://doc-08-80-docs.googleusercontent.com/docs/securesc/74hnkitv3d0pvdf31p60q1hrvp0rk5ge/7h6kk9h1k3lcdk06hoijuavrqmggtblc/1625375325000/01461370006936346968/02763092316838431110/1DLLSvSOYhGM16leUho-YsGipzHkTS1BS?e=download&authuser=0&nonce=hnnq9qm4fim7g&user=02763092316838431110&hash=b1radurf7lpi38cjbueo8ck3prdh00mj
Resolving doc-08-80-docs.googleusercontent.com (doc-08-80-docs.googleusercontent.com)... 173.194.214.132, 2607:f8b0:400c:c0b::84
Connecting to doc-08-80-docs.googleusercontent.com (doc-08-80-docs.googleusercontent.com)|173.194.214.132|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [application/zip]
Saving to: ‘data.zip’

data.zip                [       <=>          ] 138.60M  97.8MB/s    in 1.4s

2021-07-04 05:10:08 (97.8 MB/s) - ‘data.zip’ saved [145335249]

In [ ]:
## Unzip the zip folder
!unzip data.zip

Archive:  data.zip
   creating: data/
  inflating: data/VisitorLogsData.csv
   creating: data/.ipynb_checkpoints/
  inflating: data/userTable.csv

In [ ]:
## Importing all the libraries used for creating the pipeline
import numpy as np
import pandas as pd
from datetime import datetime
import regex as re
import math

In [ ]:
## reading the visitor data
visitor_data = pd.read_csv("/content/data/VisitorLogsData.csv")

In [ ]:
visitor_data.head()

      webClientID            VisitDateTime  ...     City        Country
0   WI10000050298  2018-05-07 04:28:45.970  ...  Chennai          India
1   WI10000025922  2018-05-13 07:26:04.964  ...      NaN         Taiwan
2  WI100000204522  2018-05-11 11:43:42.832  ...  Gurgaon          India
3   WI10000011974  2018-05-13 15:20:23.436  ...
4  WI100000441953  2018-05-08 20:44:25.238  ...   Iselin  United States

[5 rows x 9 columns]

In [ ]:
## reading user data
user_data = pd.read_csv("/content/data/userTable.csv")

In [ ]:
user_data.head()

    UserID                       Signup Date User Segment
0  U133159  2018-04-14 07:01:16.202607+00:00            C
1  U129368  2017-12-02 09:38:41.584270+00:00            B
2  U109654         2013-03-19 11:38:55+00:00            B
3  U108998  2018-01-18 08:29:51.627954+00:00            C
4  U131393  2018-03-27 08:05:28.806800+00:00            B

In [ ]:
visitor_data.shape

(6588000, 9)

In [ ]:
visitor_data.describe()

       webClientID            VisitDateTime  ...     City  Country
count      6588000                  5929085  ...  4422169  6190307
unique     1091455                  5482669  ...    26260    18914
top     WI10000057  2018-05-21 04:18:05.465  ...   Mumbai    India
freq          8877                        5  ...   259651  2360175

[4 rows x 9 columns]

In [ ]:
user_data.shape

(34050, 3)

In [ ]:
import math
from datetime import datetime
f = "%Y-%m-%d %H:%M:%S.%f" ## format of the date and time extracted
d1=[]
for i in range(visitor_data.shape[0]): ## iterating through each column of the visitor data
  if(type(visitor_data.VisitDateTime.iloc[i])==str): ## if the data is present i.e not NaN
    try:
      ts=int(visitor_data.VisitDateTime.iloc[i])
      d1.append(datetime.fromtimestamp(ts/1e9)) ## if date in unix format
    except:
      d1.append(datetime.strptime(visitor_data.VisitDateTime.iloc[i], f)) ## if date in datetime format
  else:
    d1.append(visitor_data.VisitDateTime.iloc[i])  ## if Nan

In [ ]:
visitor_data['entire_date']=d1 ### contains date and time as datetime object

In [ ]:
d=[]
for i in range(visitor_data.shape[0]): ## iterating through each column of the visitor data
    if(type(visitor_data.VisitDateTime.iloc[i]) == str): ## if the data is present i.e not NaN
      try:
        ts=int(visitor_data.VisitDateTime.iloc[i]) 
        d.append(str(date.fromtimestamp(ts/1e9))) ## if date in unix format
      except:
        d.append(visitor_data.VisitDateTime.iloc[i].split()[0]) ## if date in datetime format
    else:
      d.append(visitor_data.VisitDateTime.iloc[i]) ## if NaN

In [ ]:
visitor_data['date']=d ## a date column is created storing the dates on which the user visited the site

In [ ]:
visitor_data['ProductID'] = visitor_data['ProductID'].str.upper() 
## changing all the product IDS to upper case and filling NaN values with space.

In [ ]:
## 1. In the current case, you are supposed to generate an input feature set as on 28-May-2018. 
## So, the visitor table is from 07-May-2018 to 27-May-2018.

In [ ]:
## taking all those rows whose dates fall between 21-05-2018 to 27-05-2018 (both inclusive) i.e last 7 days.
last_7_data=visitor_data[(visitor_data['date']>'2018-05-20') & (visitor_data['date']<='2018-05-27') & (visitor_data['date']!=np.nan)]

In [ ]:
## taking all those rows whose dates fall between 13-05-2018 to 27-05-2018 (both inclusive) i.e last 15 days.
last_15_data=visitor_data[(visitor_data['date']>'2018-05-12') & (visitor_data['date']<='2018-05-27') & (visitor_data['date']!=np.nan)]

In [ ]:
## taking the unique dates each user visited and grouping them by userid and counting the unique dates on which each user visited.
data_No_of_days_Visited_7_Days = last_7_data[['UserID','date']].drop_duplicates().dropna().groupby(['UserID']).count().rename(columns={"date":"No_of_days_Visited_7_Days"})

In [ ]:
## taking the unique products each user viewed and grouping them by userid and counting the unique products each user viewed.
data_No_Of_Products_Viewed_15_Days = last_15_data[['UserID','ProductID']].drop_duplicates().dropna().groupby(['UserID']).count().rename(columns={"ProductID":"No_Of_Products_Viewed_15_Days"})

In [ ]:
user_data.set_index('UserID',inplace=True)
Input_Feature_table=user_data 
Input_Feature_table = pd.concat([Input_Feature_table, data_No_of_days_Visited_7_Days], axis=1).fillna(0)
## adding the first col No_of_days_Visited_7_Days and filling the nan values with 0

In [ ]:
Input_Feature_table = pd.concat([Input_Feature_table, data_No_Of_Products_Viewed_15_Days], axis=1).fillna(0)
## adding the first col No_Of_Products_Viewed_15_Days and filling the nan values with 0

In [ ]:
## converting both the columns into int datatype
Input_Feature_table.No_Of_Products_Viewed_15_Days = Input_Feature_table.No_Of_Products_Viewed_15_Days.apply(int)
Input_Feature_table.No_of_days_Visited_7_Days = Input_Feature_table.No_of_days_Visited_7_Days.apply(int)

In [ ]:
Input_Feature_table['Signup Date'].isna().value_counts() ## checking if the signup date has any nan values

False    34050
Name: Signup Date, dtype: int64

In [ ]:
## taking just the date part from each row of signup col
## subtracting it from 27-05-2018 i.e present date.
## storing those values as user_vintage
Input_Feature_table['User_Vintage'] = datetime(2018,5,27) - Input_Feature_table['Signup Date'].apply(lambda x : datetime.strptime(x.rsplit(' ',1)[0], "%Y-%m-%d"))

In [ ]:
## removing days word from each row of user vintage and storing the integer part and adding 1.
Input_Feature_table['User_Vintage']=Input_Feature_table['User_Vintage'].apply(lambda x:int(str(x).split(' ')[0])+1)

In [ ]:
## taking the rows with actitvity pageload and with not null product ids and userids from last_15_days data
## grouping it by user_id and product_id.
## size() is used to count how many times the product is viewed by each user in last 15 days.
x = last_15_data[(last_15_data['Activity'].str.lower()=='pageload') & (last_15_data['ProductID']!=np.nan) & (last_15_data['UserID']!=np.nan)].groupby(['UserID','ProductID']).size()

In [ ]:
## this is the same data as above but it also has date and product id as Pid in it
x1 = last_15_data[(last_15_data['Activity'].str.lower()=='pageload') & (last_15_data['ProductID']!=np.nan) & (last_15_data['UserID']!=np.nan)][['entire_date','UserID','ProductID']]
x1['Pid'] = x1['ProductID']
x1 = x1.groupby(['UserID','ProductID']).first()

In [ ]:
x2 = pd.concat([x, x1], axis=1).rename(columns={0:"count"})
x2.head()

                   count             entire_date       Pid
UserID  ProductID
U100002 PR100258       2 2018-05-18 10:43:56.628  PR100258
U100003 PR100079       1 2018-05-25 02:15:57.831  PR100079
U100004 PR100069       1 2018-05-20 14:38:37.204  PR100069
        PR100142       1 2018-05-16 18:25:41.371  PR100142
        PR100197       1 2018-05-17 13:52:57.648  PR100197

In [ ]:
x2.sort_values(by=['count','entire_date'],ascending=False,inplace=True) ## sort the data x by count and then by date
indices = set([y[0] for y in list(x.index)]) ## store the unique user_ids
t=[]
for i,ind in enumerate(indices): ## for each user_id
  t.append((ind,*list(x2.loc[ind].iloc[0].values))) ## append the userid,count,date and product_id

In [ ]:
x2.loc['U115395'] ## to check

           count             entire_date       Pid
ProductID
PR101026       1 2018-05-23 05:56:29.013  PR101026
PR100096       1 2018-05-16 18:50:51.135  PR100096
PR109530       1 2018-05-16 18:50:05.707  PR109530
PR100308       1 2018-05-13 09:06:41.793  PR100308

In [ ]:
## it selects the recently viewed product by the user U115395 as the count is same for the 4 products he/she has viewed
pd.DataFrame(data=t,columns=['UserID','count','entire_date','Pid']).set_index('UserID').sort_values('count',ascending=False).loc['U115395']

count                                   1
entire_date    2018-05-23 05:56:29.013000
Pid                              PR101026
Name: U115395, dtype: object

In [ ]:
data_Most_Viewed_product_15_Days = pd.DataFrame(data=t,columns=['UserID','count','entire_date','Pid']).set_index('UserID').sort_values('count',ascending=False)['Pid']

In [ ]:
## fill the missing products with Product101
Input_Feature_table = pd.concat([Input_Feature_table, data_Most_Viewed_product_15_Days], axis=1).fillna('Product101')

In [ ]:
Input_Feature_table.shape

(34050, 6)

In [ ]:
## checking if there is any nan value in OS column
visitor_data.OS.isna().value_counts()

False    6588000
Name: OS, dtype: int64

In [ ]:
visitor_data['OS'] = visitor_data['OS'].str.upper() ## changing os col to uppercase
v_d = visitor_data
v_d['os'] = v_d['OS']

In [ ]:
v = visitor_data[visitor_data['UserID']!=np.nan].groupby(['UserID','OS']).size() ## count of OS used by each user 
v_d = v_d[v_d['UserID'] !=np.nan].groupby(['UserID','OS']).first()[['os','entire_date']] ## store the os name and entire date
v = pd.concat([v, v_d], axis=1).rename(columns={0:"count"}) ## finally we are getting the count, name of the os used and the date and time.

In [ ]:
v.sort_values(by=['count','entire_date'],ascending=False,inplace=True) ## sort the data by count and then by date
indices = set([y[0] for y in list(v.index)]) ## store the unique userids
t=[]
for i,ind in enumerate(indices):
  t.append((ind,*list(v.loc[ind].iloc[0].values[0:2]))) ## append the userid, count, os name and date

In [ ]:
data_OS = pd.DataFrame(data=t,columns=['UserID','count','OS']).set_index('UserID').sort_values('count',ascending=False)['OS']

In [ ]:
v.loc['U112575'] ## to check

         count       os             entire_date
OS
WINDOWS      1  WINDOWS 2018-05-24 12:41:29.869
LINUX        1    LINUX 2018-05-23 14:31:35.694

In [ ]:
data_OS.loc['U112575'] ## As we see there are 2 os having same count for user U112575 but the more recent one is taken up.

'WINDOWS'

In [ ]:
Input_Feature_table = pd.concat([Input_Feature_table, data_OS], axis=1)

In [ ]:
## The smae process is used as I used to create the column Most_Viewed_product_15_Days but here:
## 1. instead of using 15 days data I used entire visitor data.
## 2. sorted the data by date and then by count.
x = visitor_data[(visitor_data['Activity'].str.lower()=='pageload') & (visitor_data['ProductID']!=np.nan) & (visitor_data['entire_date']!=np.nan) & (visitor_data['UserID']!=np.nan)].groupby(['UserID','ProductID']).size()
x1 = visitor_data[(visitor_data['Activity'].str.lower()=='pageload') & (visitor_data['ProductID']!=np.nan) & (visitor_data['entire_date']!=np.nan) & (visitor_data['UserID']!=np.nan)][['entire_date','UserID','ProductID']]
x1['Recently_Viewed_Product'] = x1['ProductID']
x1 = x1.groupby(['UserID','ProductID']).first()
x2 = pd.concat([x, x1], axis=1).rename(columns={0:"count"})
x2.sort_values(by=['entire_date','count'],ascending=False,inplace=True) ## sorting it by date then count
indices = set([y[0] for y in list(x2.index)])
t=[]
for i,ind in enumerate(indices):
  t.append((ind,*list(x2.loc[ind].iloc[0].values)))

In [ ]:
Input_Feature_table =Input_Feature_table.rename(columns={"Pid":"Most_Viewed_product_15_Days"})

In [ ]:
data_Most_Recently_Viewed_product = pd.DataFrame(data=t,columns=['UserID','count','entire_date','Recently_Viewed_Product']).set_index('UserID').sort_values('count',ascending=False)['Recently_Viewed_Product']

In [ ]:
Input_Feature_table = pd.concat([Input_Feature_table, data_Most_Recently_Viewed_product], axis=1).fillna('Product101')

In [ ]:
## taking the last 7 day data but with activity pageload.
last_7_data_pageload=visitor_data[(visitor_data['date']>'2018-05-20') & (visitor_data['date']<='2018-05-27') & (visitor_data['Activity'].str.lower() == 'pageload') & (visitor_data['entire_date']!=np.nan)][['UserID','Activity']]

In [ ]:
## changing all the activites to lower case.
last_7_data_pageload['Activity']=last_7_data_pageload['Activity'].str.lower()

In [ ]:
## group last 7 day data of pageloads by userids and take the size
v=last_7_data_pageload[(last_7_data_pageload['UserID']!=np.nan)].groupby(['UserID']).size()

In [ ]:
## I got the count of pageloads
data_Pageloads_last_7_days = v.to_frame().rename(columns={0:'Pageloads_last_7_days'})

In [ ]:
## fill missing values with 0
Input_Feature_table = pd.concat([Input_Feature_table, data_Pageloads_last_7_days], axis=1).fillna(0)

In [ ]:
## taking the last 7 day data but with activity click.
last_7_data_click=visitor_data[(visitor_data['date']>'2018-05-20') & (visitor_data['date']<='2018-05-27') & (visitor_data['Activity'].str.lower() == 'click') & (visitor_data['entire_date']!=np.nan)][['UserID','Activity']]

In [ ]:
## changing all the activites to lower case.
last_7_data_click['Activity']=last_7_data_click['Activity'].str.lower()

In [ ]:
## group last 7 day data of clicks by userids and take the size
v=last_7_data_click[(last_7_data.UserID!=np.nan)].groupby(['UserID']).size()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

In [ ]:
data_Clicks_last_7_days = v.to_frame().rename(columns={0:'Clicks_last_7_days'})

In [ ]:
Input_Feature_table = pd.concat([Input_Feature_table, data_Clicks_last_7_days], axis=1).fillna(0)

In [ ]:
Input_Feature_table.Pageloads_last_7_days	 = Input_Feature_table.Pageloads_last_7_days.apply(int)
Input_Feature_table.Clicks_last_7_days	 = Input_Feature_table.Clicks_last_7_days.apply(int)

In [ ]:
Input_Feature_table.drop(['Signup Date','User Segment'],axis=1,inplace=True)

In [ ]:
Input_Feature_table = Input_Feature_table.reset_index().rename(columns={"index":"UserID","OS":"Most_Active_OS"})

In [ ]:
sample = pd.read_csv("/content/sample_submission_M7Vpb9f.csv")

In [ ]:
indices =list(sample[['UserID']].values.reshape(-1))

In [ ]:
Input_Feature_table.set_index('UserID',inplace=True)

In [ ]:
## To make sure my submission file’s rows (user ids) are in the same order as mentioned in the sample submission.
t=[]
for i,ind in enumerate(indices):
  t.append((ind,*list(Input_Feature_table.loc[ind].values)))

In [ ]:
Final_table = pd.DataFrame(data=t,columns=['UserID',*list(Input_Feature_table.columns)])

In [ ]:
Final_table.to_csv('Input_Feature_table16.csv', index=False)